In [1]:
from datetime import datetime

import pandas as pd
import numpy as np

In [18]:
df = pd.read_csv('sales.csv').drop_duplicates()

In [10]:
df.groupby('team').count()

       name  sales
team
blue      4      4
green     2      2
red       3      3

In [11]:
df['team'].value_counts()

blue     4
red      3
green    2
Name: team, dtype: int64

In [12]:
df.groupby('team').size()

team
blue     4
green    2
red      3
dtype: int64

In [21]:
# to do a named aggregate for each row and partitioning by groups.
# have to .groupby('col')['col] and select only that column after and then use .transform('agg_operation'))
df['team_count_agg'] = df \
    .groupby('team')['team'] \
    .transform('count')

# same operation as above
df['team_count_agg2'] = df \
    .groupby('team')['team'] \
    .transform(len)

df['team_sales_agg'] = df \
    .groupby('team')['sales'] \
    .transform('sum')

df['team_sales_agg_plus1'] = df \
    .groupby('team')['sales'] \
    .transform(lambda x: x + 1)

# to create a named aggregate for the whole dataset
df['dummy'] = 1
df['total_sales_agg'] = df \
    .groupby('dummy')['sales'] \
    .transform('sum')
df = df.drop('dummy', axis = 1)

df_sales = df.query('team_sales_agg > 200').sort_values('team_sales_agg', ascending = False) # query the team_sales col for values > 200 and sort descending

certain_name = df[df['name'].str.contains('tom')] # return the row if name contains the string 'tom'
certain_name2 = df.query('name == "tom"')

df['total_sales_after_tax'] = df['total_sales_agg'] * .8
df['scrape_date'] = datetime.now().date()
df['scrape_ts'] = datetime.now()

df

,name,team,sales,team_count_agg2,team_count_agg,team_sales_agg,total_sales_agg,total_sales_after_tax,scrape_date,scrape_ts,team_sales_agg_plus1
0,john,red,100,3,3,475,1375,1100.0,2022-07-12,2022-07-12 11:25:27.234618,101
1,abby,blue,200,4,4,750,1375,1100.0,2022-07-12,2022-07-12 11:25:27.234618,201
2,becka,red,250,3,3,475,1375,1100.0,2022-07-12,2022-07-12 11:25:27.234618,251
3,larry,green,50,2,2,150,1375,1100.0,2022-07-12,2022-07-12 11:25:27.234618,51
4,tom,red,125,3,3,475,1375,1100.0,2022-07-12,2022-07-12 11:25:27.234618,126
5,sarah,blue,100,4,4,750,1375,1100.0,2022-07-12,2022-07-12 11:25:27.234618,101
6,wesley,blue,300,4,4,750,1375,1100.0,2022-07-12,2022-07-12 11:25:27.234618,301
7,charlie,green,100,2,2,150,1375,1100.0,2022-07-12,2022-07-12 11:25:27.234618,101
8,donny,blue,150,4,4,750,1375,1100.0,2022-07-12,2022-07-12 11:25:27.234618,151

In [6]:
target_num = 9
my_list = [2, 5, 7, 11]

def solution(target, nums):
    hash_map = {}

    for i, v in enumerate(nums):
        diff = target - target
        print(diff)

        if diff in hash_map:
            return [hash_map[v], diff]

        hash_map[v] = i

solution(target_num, my_list)

7

KeyError: 2

In [39]:
def minimal_number_of_packages(items, available_large_packages, available_small_packages):
    small_items_left = items - (5 * available_large_packages)
    print(small_items_left)
    if small_items_left > available_small_packages:
        print('Not enough Small Packages')
        return -1
    else:
        if small_items_left - int(small_items_left) == 0: # if it's a whole number
            total_packages = small_items_left + available_large_packages
            print(f'Total Packages Needed is {total_packages}')
            return total_packages
        
        else:
        
            return -1
        
# print(minimal_number_of_packages(16, 2, 10))
print(minimal_number_of_packages(15, 1, 4))

10
Not enough Small Packages
-1