In [1]:
from datetime import datetime

import awswrangler as wr
import pandas as pd
from elasticsearch import Elasticsearch

In [17]:
client = Elasticsearch("https://search-jacobs-opensearch-cluster-erfr54ly7475ebcmsb3odvwjyu.us-east-1.es.amazonaws.com:443")
resp = client.info() # shit dont work idk dude

In [2]:
# aws wrangler works tho
conn = wr.opensearch.connect(host="https://search-jacobs-opensearch-cluster-a6kkxsa7jqn65aktrw2wemzmqi.us-east-1.es.amazonaws.com",
                             port = 443)

In [4]:
df = wr.opensearch.search(
    client = conn,
    index = 'opensearch_dashboards_sample_data_ecommerce'
)

In [5]:
df.head(1)

,_id,category,currency,customer_first_name,customer_full_name,customer_gender,customer_id,customer_last_name,customer_phone,day_of_week,...,total_unique_products,type,user,geoip.country_iso_code,geoip.location.lon,geoip.location.lat,geoip.region_name,geoip.continent_name,geoip.city_name,event.dataset
0,ZHBMP4gBgweMWgxfcFsN,"[Men's Clothing, Men's Shoes]",EUR,Muniz,Muniz Nash,MALE,37,Nash,,Wednesday,...,2,order,muniz,MA,-8.0,31.6,Marrakech-Tensift-Al Haouz,Africa,Marrakesh,sample_ecommerce